/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Lato', sans-serif;

}
.header-font{
    font-size: 32px;
    font-weight: bold;
}
.center-text{
    text-align: center;
}